@import './../../variables.scss';

.title-header {
  text-align: left;
  padding: 0 32px;
}

.sign-up-link {
  text-align: center;
}

.loader-container {
  background: rgba($color: $form-background-color, $alpha: .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;

  h2 {
    margin-top: 16px;
    font-weight: 300;
    font-size: calc(#{$default-font-size} + 4px);
  }
}
