<h1 class="title-header">Sign in</h1>

<form id="sign-in" aria-label="Sign in form" [formGroup]="signInForm" signInForm="ngForm" (ngSubmit)="signIn()">
  <div class="loader-container" *ngIf="sendingStatus">
    <app-loader *ngIf="sendingStatus=='pending'"></app-loader>
    <h2>{{message}}</h2>
  </div>

  <fieldset>
    <label for="email">Email address</label>
    <input type="email" id="email" placeholder="Your Email Address" name="email" autocomplete="off" autocapitalize="off"
      autocorrect="off" spellcheck="false" autofocus required aria-required="true" formControlName="email" required />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="field-alert">
      <ng-container *ngIf="email.errors.pattern">
        Invalid e-mail address
      </ng-container>
    </div>
  </fieldset>
  <fieldset>
    <label for="password">Password</label>
    <input type="password" id="password" name="Your Password" autocomplete="off" autocorrect="off" required
      aria-required="true" formControlName="password" />
  </fieldset>
  <fieldset>
    <button type="submit" id="submit" data-submit="...Sing in" [disabled]="signInForm.invalid">Continue</button>
  </fieldset>
</form>

<p class="sign-up-link">Not our member yet? <button routerLink="/sign-up" routerLinkActive="active"
    aria-label="Create new account" class="btn-link">Click here to
    create new
    account</button></p>
