@import './../styles.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

:host {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  color: $default-font-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  margin: 64px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
