<section class="section-form">
  <header>
    <h1 class="title-header">Sign up</h1>
  </header>

  <form id="sign-in" aria-label="Sign up form" [formGroup]="signUpForm" signUpForm="ngForm" (ngSubmit)="submitForm()">
    <div class="loader-container" *ngIf="sendingStatus">
      <app-loader *ngIf="sendingStatus=='pending'"></app-loader>
      <h2>{{message}}</h2>
    </div>

    <fieldset>
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Your Email Address" name="email" autocomplete="off"
        autocapitalize="off" autocorrect="off" spellcheck="false" autofocus required aria-required="true"
        formControlName="email" required />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="field-alert">
        <ng-container *ngIf="email.errors.required">
          Email is required.
        </ng-container>
        <ng-container *ngIf="email.errors.pattern">
          Invalid e-mail address
        </ng-container>
      </div>
    </fieldset>
    <fieldset>
      <label for="fulllName">Full name</label>
      <input type="text" id="fulllName" placeholder="Your Full Name" name="fullName" autocomplete="off"
        autocapitalize="off" autocorrect="off" spellcheck="false" required aria-required="true"
        formControlName="fullName" />
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="field-alert">
        <ng-container *ngIf="fullName.errors.required">
          Full name is required.
        </ng-container>
        <ng-container *ngIf="fullName.errors.pattern">
          Missing last name
        </ng-container>
      </div>
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input type="password" id="password" name="Your Password" autocomplete="off" autocorrect="off" required
        aria-required="true" formControlName="password" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="field-alert">
        <ng-container *ngIf="password.errors.required">
          Password is required.
        </ng-container>
        <ng-container *ngIf="password.errors.minlength">
          Password is too short.
        </ng-container>
      </div>
    </fieldset>
    <fieldset>
      <label for="confirmPassword">Confirm your password</label>
      <input type="password" id="confirmPassword" name="Confirm Your Password" autocomplete="off" autocorrect="off"
        required aria-required="true" required formControlName="confirmPassword" />
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="field-alert">
        <ng-container *ngIf="confirmPassword.errors.required">
          Password is required.
        </ng-container>
      </div>
      <ng-container
        *ngIf="signUpForm.errors?.passwordNotMatch && !confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        Passwords must match
      </ng-container>
    </fieldset>

    <fieldset>
      <button type="submit" name="submit" id="submit" data-submit="...Sing in"
        [disabled]="signUpForm.invalid">Continue</button>
    </fieldset>
  </form>

  <p class="sign-in-link">Already using our app? <a routerLink="/sign-in" routerLinkActive="active"
      aria-label="Create new account" class="btn-link">Click here to
      sign in</a></p>
</section>
