@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  background: #8e9eab;
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 400;
}

#mainLogo {
  margin-bottom: 32px;
}

// buttons
.btn-link {
  border: none;
  text-decoration: underline;
  outline: none;
  background-color: transparent;
  font-size: $default-font-size;
  color: $button-link-color;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    border: none;
  }

  &:visited {
    color: $default-font-color;
  }

  &:hover {
    cursor: pointer;
  }
}

// headers
h1 {
  font-size: 32px;
  font-weight: 300;
}

// forms
form {
  font-weight: 300;
  line-height: 1.64;
  display: flex;
  flex-direction: column;
  font-size: $default-font-size;
  padding: 24px;
  background: $form-background-color;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 20px auto;
  position: relative;
  width: 100%;

  input {
    margin-bottom: 16px;
    color: $input-font-color;
    font-size: $default-font-size;

    &[type="text"],
    &[type="email"],
    &[type="password"] {
      width: 100%;
      border: 1px solid $input-border-color;
      background: $input-background-color;
      margin: 8px 0 0;
      padding: 10px;

      &.ng-touched {
        &.ng-invalid {
          border: 1px solid $input-invalid-border-color;
        }

        &.ng-valid {
          border: 1px solid $input-valid-border-color
        }
      }

      &:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid $input-border-color-hover;
      }

      &:focus {
        outline: 0;
        border: 1px solid $input-border-color-hover;
      }
    }
  }

  fieldset {
    border: medium none !important;
    margin: 0 0 16px;
    min-width: 100%;
    padding: 0;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: $placeholder-color;
  }

  .field-alert {
    font-size: calc(#{$default-font-size} - 2px);
    color: $field-alert-color;
    text-align: left;
    padding: 4px;
    font-weight: 400;
  }

  button[type="submit"],
  #submit {
    cursor: pointer;
    border: none;
    background: $submit-background-color;
    color: $submit-color;
    margin: 16px auto 0px;
    display: block;
    padding: 12px 32px;
    font-size: calc(#{$default-font-size} + 4px);

    &:hover {
      background: darken($submit-background-color, 10%);
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }

    &:active {
      box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
    }

    &:disabled {
      background: lighten($submit-background-color, 10%);
      cursor: not-allowed;
    }
  }
}


.section-form {
  width: 420px;

  @media screen and (max-width: 575px) {
    width: 100%;
    max-width: 420px;
  }
}
